/*
 * General styling
 */
.ie6_warning {
  background: #bbffbb;
  border: 1px solid #00ff00;
  padding: 10px;
  text-align: left;
  display: none;
}
.ie6_warning a {
  font-weight: bold;
}
.ie6_warning h4 {
  margin-top: 0px;
}

/*
 * Close button; skin it!
 */
.ie6_warning_close {
  float: right;
  position: relative;
  cursor: pointer;
}

/*
 * Fix in case of the block content has some padding
 */
 .block-ie6_warning .content {
  padding: 0px !important;
}